@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
